@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Geologica:wght@200;300;400;500;600&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(100, 100, 183);
  font-family: "Bruno Ace SC", cursive;
  font-family: "Geologica", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  height: 350px;
  width: 700px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
h1 {
  position: absolute;
  top: 20%;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
input {
  border: none;
  outline: none;
  width: 300px;
  font-size: 20px;
  height: 20px;
  border-bottom: 2px solid blue;
}
input:focus {
  outline: none;
}
.search {
  border: 0;
  outline: 0;
  border-radius: 20px;
  width: 100px;
  color: black;
  cursor: pointer;
  height: 30px;
  width: 150px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: rgb(100, 100, 183);
}

.useful {
  margin-top: 20px;
  padding: 20px;
}
.word {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.meaning {
  font-size: 20px;
  margin-top: 40px;
}
.example {
  font-size: 20px;
  margin-top: 40px;
}
.example::before {
  position: absolute;
  background-color: red;
  content: ".";
  left: 0;
  top: 50%;
  height: 50px;
}
.example::after {
  position: absolute;
  background-color: red;
  content: ".";
  right: 0;
  top: 50%;
  height: 50px;
}

@media screen and (max-width: 603px) {
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 250px;
    width: 400px;
    background-color: red;
    border-radius: 20px;
  }
}

@media screen and (max-width: 708px) {
  h1 {
    font-size: 10px;
  }
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 350px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
  }
}


@media screen and (min-width: 1120px) {
  h1 {
    font-size: 20px;
  }
}
